// ---------------------------------------Logo-------------------------------------//
//________________________________________________________________________________//
@use '../core/variables' as *;

.logo {
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    background-color: $theme-color;
}