// ---------------------------------Environment------------------------------------//
//________________________________________________________________________________//
@use '../core/variables' as *;

.environment {
    a {
        font-weight: 700;
    }
	&__list {
		li {
			list-style: decimal inside;
            margin-bottom: 1rem;
		}
	}
}
